.FormStyle {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: gray;
    padding: 32px;
    gap: 8px;
    margin: auto;
    border-radius: 20px;
    margin-top: 15%;
}
